@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import "./global";

.---dialog-cover {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2.5rem);
  background-color: #212121c0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition-duration: 250ms;
  transition-property: opacity;
  transition-timing-function: ease;
  z-index: 98;

  &.-visible {
    opacity: 1;
    pointer-events: all;
  }
}

.---dialog {
  @include flex(column, stretch, flex-start);
  top: calc(50% + 0.5rem);
  left: 50%;
  min-width: 15rem;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transform: translate(-50%, -50%);
  transition-duration: 125ms;
  transition-property: top, opacity;
  transition-timing-function: ease;
  z-index: 99;


  &.-visible {
    top: 50%;
    opacity: 1;
    pointer-events: all;
  }

  > ._title {
    background-color: #212121;
    color: #ffffff;
    padding: 0.625rem 0.875rem;
  }

  > ._content {
    background-color: #ffffff;
    color: #212121;
    padding: 0.75rem 0.8rem;
    text-align: justify;
  }

  > ._button-container {
    background-color: #ffffff;
    border-top: 0.0625rem solid #f0f0f0;
    color: #212121;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    > ._button {
      $background-color: #ffffff;
      background-color: $background-color;
      cursor: pointer;
      font-size: 0.8rem;
      padding: 0.375rem;
      user-select: none;

      + ._button {
        border-left: 0.0625rem solid #f0f0f0;
      }

      &:hover {
        background-color: darken($background-color, 5%);
      }

      &:active {
        background-color: darken($background-color, 10%);
      }
    ;
    }
  }

}


a:link, a:visited {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.---loading {
  @include flex(column, center, center, 1rem);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2.5rem);
  background-color: #212121c0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition-duration: 250ms;
  transition-property: opacity;
  transition-timing-function: ease;
  user-select: none;
  z-index: 100;

  &.-visible {
    opacity: 1;
    pointer-events: all;

    > ._icon {
      top: 0;
      opacity: 1;
      transition-delay: 125ms;
    }

    > ._text {
      top: 0;
      opacity: 1;
      transition-delay: 500ms;
    }
  }

  > ._icon {
    @keyframes anim {
      from {
        transform: rotateZ(0deg);
      }
      to {
        transform: rotateZ(360deg);
      }
    }
    top: 0.5rem;
    width: 5rem;
    animation-name: anim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    opacity: 0;
    position: relative;
    transition-duration: 250ms;
    transition-property: top, opacity;
    transition-timing-function: ease;
  }

  > ._text {
    top: 0.5rem;
    font-size: 1.25rem;
    opacity: 0;
    position: relative;
    transition-duration: 250ms;
    transition-property: top, opacity;
    transition-timing-function: ease;
  }
}

body {
  @include minmaxWidth(100vw);
  @include minmaxHeight(100vh);
  background-color: #ffffff;
  color: #d4d5d6;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif; /* 폰트 패밀리 설정 */
  font-size: 0.9rem;
  font-weight: 300;
  margin: 0;
}


button, input, select, textarea {
  background-color: transparent;
  border: none;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: none;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
  margin-block: 0;
  margin-inline: 0;
}

ol, ul {
  list-style-type: none;
  margin-block: 0;
  margin-inline: 0;
  padding-inline: 0;
}


.--obj-label {
  @include flex(column, stretch, flex-start, 0.25rem);

  &.-invalid {
    $color: #e74c3c;

    > ._text {
      color: $color;
    }

    > ._field:not(:disabled) {
      border-color: $color !important;
    }

    > ._warning {
      color: $color;
      display: block;
    }
  }

  > ._text {
    font-size: 0.7rem;
  }

  > ._warning {
    display: none;
    font-size: 0.8rem;
  }

  > ._text {
    $color: #9e9e9e;
    color: $color;


    &:hover {
      color: darken($color, 10%);
    }
  }

  > ._text {
    font-size: 0.7rem;
  }
}

.--obj-field {
  padding: 0.425rem 0.5rem;
  transition-duration: 250ms;
  transition-property: border-color;
  transition-timing-function: ease;

  &.-dark {
    $border_color: #424242;
    background-color: #222324;
    border: 0.0625rem solid $border_color;
    color: #ffffff;

    &:hover {
      border-color: lighten($border_color, 10%);
    }

    &:focus {
      border-color: #ffffff;
    }
  }


  &.-light {
    $border_color: #eeeeee;
    background-color: #ffffff;
    border: 0.0625rem solid $border_color;
    color: #212121;

    &:hover {
      border-color: darken($border_color, 10%);
    }

    &:focus {
      border-color: #303337;
    }
  }
}

.--obj-button {
  cursor: pointer;
  padding: 0.625rem;
  transition-duration: 125ms;
  transition-property: background-color;
  transition-timing-function: ease;
  user-select: none;
  white-space: nowrap;
  border-radius: 1rem;

  &.-size-small {
    font-size: 0.75rem;
    padding: 0.425rem;
  }
  &.-simple-candy {
    $border_radius: lighten(#222324, 5%);
    $color: #dbdbdb;
    border-color: $border_radius;
    border-style: solid;
    border-width: 0.0625rem;
    border-radius: 999rem;
    color: $color;
    padding: 0.5rem 0.875rem;

    &:hover {
      border-color: lighten($border_radius, 2.5rem);
      color: lighten($color, 10%);
    }
    &:hover {
      border-color: lighten($border_radius, 5rem);
      color: lighten($color, 20%);
    }
  }

  &.-color-primary {
    $background-color: #C1B5A3;
    background-color: $background-color;
    color: #ffffff;

    &:hover {
      background-color: darken($background-color, 10%);
    }

    &:active {
      background-color: darken($background-color, 10%);
    }
  }

  &.-color-light-gray {
    $background-color: #a0a0a0;
    background-color: $background-color;
    color: #ffffff;

    &:hover {
      background-color: darken($background-color, 5%);
    }

    &:active {
      background-color: darken($background-color, 10%);
    }
  }

  &.-color-blue {
    $background-color: #3498db;
    background-color: $background-color;
    color: #ffffff;

    &:hover {
      background-color: darken($background-color, 5%);
    }

    &:active {
      background-color: darken($background-color, 10%);
    }
  }

  &.-color-red {
    $background-color: #e74c3c;
    background-color: $background-color;
    color: #ffffff;

    &:hover {
      background-color: darken($background-color, 5%);
    }

    &:active {
      background-color: darken($background-color, 10%);
    }
  }
}

.--obj-check-label {
  @include flex(row, center, flex-start, 0.5rem);
  cursor: pointer;
  user-select: none;

  &.-light {
    > ._box {
      background-color: #ffffff;
    }
  }

  > ._input {
    display: none;
  }

  > ._input:checked + ._box {
    background-color: #776969;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAACXBIWXMAAAsTAAALEwEAmpwYAAACXUlEQVR4nO3aO4hVRxgH8M8HhmXRCGYVIcqCID4gIqLYuNukSQpjpSJbKgQEC0GQICQWbmEhCrJY+8BKQaJpwqaRiIUPUCxEEJFoBBPBZxKj+clxryiL987d3SL3zM6vvjPM/zucc2a+cyOKoiiKoiiKopawEl+iJyYTfIZfvfcPfojJANNwwccNRO6wU3O/RM6wCM9bFOBy5ApT8LPWDkSusDUR/hl6I0eYj0eJAuyIXOF0IvzF6u0QOcKmRPi/sTxyhDl4kCjAnsgVjibCX8OMyBG+SoR/hdWRI3TjdqIA+yNXOJwIXxWnO3KEtXjdIvx/1RE4coRPcCNx9Y9ErrAvEf4+ZkeO8AVeJgqwIXKE6biUCH8ycoXdifB/YF7kCIvxIlGAgZybHMOJ8D9Fp8AKnMXvuIJtE5zv20T4J1gYnQBL8fQjizw4zvk+x+NEAbZHp8CJFgvdNY75fkyEP4+p0SlwvcViq63r5jHMtSUR/i8siU5i5N5PdWb62/yq8zAx13fRadDXOIi0UjUul03gVqpcrTZG0YnwvbTfqgdck/FfJ8b+i1XRyTDURhGqVtWno8bNwt3EuMGoycfJM20UYfjDfl11jE38/ia6og4ws7ERSjne2O31J54f1VukL2r4teZOG0UYbFzdVoaijozsDv80Mfdq3eTAusbGZbzWR91hY6KR2cyxyAV2jTF8tRucGznBoTEUoO2zQ21gKk61Ef5c5Apdo/7CNlrVA1gQOUMPbjUpwIS6SLWB3sbJ7p2q5783JhMjz4Q1+KbaOf7f6ymKoiiKoiiKeOsNHrAqLXYQ6kQAAAAASUVORK5CYII=");
  }

  > ._box {
    @include minmaxSize(1rem);
    border: 0.125rem solid rgba(92, 91, 91, 0.07);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
  }

  > ._text {
    text-align: justify;
  }
}


.--obj-table {
  border-spacing: 0;

  .-no-padding {
    padding: 0 !important;
  }

  .-spacer {
    width: 100%;
  }

  .-text-align-center {
    text-align: center;
  }

  th {
    font: inherit;
    padding: 0.5rem;
    white-space: nowrap;
  }

  td {
    white-space: nowrap;
  }

  &.-dark {
    > thead > tr > th {
      $background_color: #1c1d1e;
      background-color: $background_color;

      &:not(:last-of-type) {
        border-right: 0.0625rem solid lighten($background_color, 5%);
      }
    }

    > tbody > tr:nth-child(odd) > * {
      $background_color: #222324;
      background-color: $background_color;

      &:not(:last-child) {
        border-right: 0.0625rem solid lighten($background_color, 2.5%);
      }
    }

    > tbody > tr:nth-child(even) > * {
      $background_color: darken(#222324, 1%);
      background-color: $background_color;

      &:not(:last-child) {
        border-right: 0.0625rem solid lighten($background_color, 2.5%);
      }
    }
  }
}

