#cover {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.6274509804);
  display: none;
  position: fixed;
  z-index: 7;
}
#cover.--visible {
  display: block;
}

#main {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.container {
  width: 80%;
  background: #ffffff;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  overflow: hidden;
}
.container > .post {
  background-color: rgb(234.0649350649, 230.012987013, 223.9350649351);
  padding: 1.25rem;
  border-bottom: 0.0625px solid #ddd;
}
.container > .post > .title {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.container > .post > .meta {
  font-size: 0.9rem;
  color: gray;
}
.container .button-container {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}
.container .button-container .report {
  margin-right: auto;
  margin-left: 0.8rem;
}
.container .button-container .button_list {
  margin-right: auto;
  margin-left: 0.5rem;
}
.container .button-container .button {
  padding: 0.3rem 0.8rem;
  font-size: 0.7rem;
  font-weight: 500;
  color: #ffffff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}
.container .button-container .button.report {
  background-color: #ed7777;
}
.container .button-container .button.report:hover {
  background-color: rgb(231.038961039, 73.961038961, 73.961038961);
}
.container .button-container .button.report:active {
  background-color: rgb(228.0584415584, 51.4415584416, 51.4415584416);
}
.container .button-container .button.modify {
  background-color: #c1b5a3;
}
.container .button-container .button.modify:hover {
  background-color: rgb(172.4675324675, 156.4935064935, 132.5324675325);
}
.container .button-container .button.modify:active {
  background-color: rgb(162.2012987013, 144.2402597403, 117.2987012987);
}
.container .button-container .button.delete {
  background-color: #bdbdbd;
}
.container .button-container .button.delete:hover {
  background-color: rgb(163.5, 163.5, 163.5);
}
.container .button-container .button.delete:active {
  background-color: rgb(150.75, 150.75, 150.75);
}
.container .button-container .button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
.container > .content {
  min-height: 5rem;
  padding: 1.25rem;
  margin-top: 0.9rem;
  line-height: 1.6rem;
  font-size: 1rem;
  border-bottom: 0.0625rem solid #ddd;
}
.container > .comments {
  padding: 1.25rem;
}
.container > .comments > .comment_title {
  font-weight: 500;
  font-size: 1.1rem;
  color: #000000;
  margin-bottom: 1rem;
}
.container > .comments > .comment {
  margin-bottom: 0.8rem;
}
.container > .comments > .comment > .author {
  font-weight: 500;
  font-size: 0.9rem;
  color: #000000;
}
.container > .comments > .comment > .text {
  margin-top: 0.3rem;
  font-size: 0.9rem;
  line-height: 1.4rem;
}

.comment_write {
  padding: 1.25rem;
  background-color: #ffffff;
  border-top: 0.0625rem solid #ddd;
}
.comment_write > .form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.comment_write > .form > .label {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.comment_write > .form > .label > .text {
  font-weight: 500;
  font-size: 1rem;
  color: #000000;
}
.comment_write > .form > .label textarea {
  width: 97%;
  height: 4rem;
  padding: 0.75rem;
  font-size: 0.9rem;
  border: 0.0625rem solid #ddd;
  border-radius: 0.25rem;
  outline: none;
  resize: none;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}
.comment_write > .form > .label textarea:hover {
  border-color: #aaaaaa;
}
.comment_write > .form > .label textarea:focus {
  border-color: rgb(151.7402597403, 131.9480519481, 102.2597402597);
}
.comment_write > .form > .label textarea::placeholder {
  font-size: 0.9rem;
  color: rgb(168.6225, 166.8775, 166.8775);
}
.comment_write > .form > .button_write {
  width: auto;
  align-self: flex-end;
  margin-right: 0.8rem;
}

#deleteDialog {
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  display: none;
  padding: 2rem;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 8;
  align-items: stretch;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
}
#deleteDialog.--visible {
  display: flex;
}
#deleteDialog .message {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  color: #333333;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 0.0625rem solid #e0e0e0;
}
#deleteDialog .button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
#deleteDialog .button-container .--obj-button {
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
#deleteDialog .button-container .--obj-button.-button_color {
  background-color: #c1b5a3;
  color: #ffffff;
}
#deleteDialog .button-container .--obj-button.-button_color:hover {
  background-color: rgb(172.4675324675, 156.4935064935, 132.5324675325);
}
#deleteDialog .button-container .--obj-button.-button_color:active {
  background-color: rgb(162.2012987013, 144.2402597403, 117.2987012987);
}
#deleteDialog .button-container .--obj-button[name=cancel] {
  background-color: #bdbdbd;
  color: #ffffff;
}
#deleteDialog .button-container .--obj-button[name=cancel]:hover {
  background-color: rgb(163.5, 163.5, 163.5);
}
#deleteDialog .button-container .--obj-button[name=cancel]:active {
  background-color: rgb(150.75, 150.75, 150.75);
}

.comment-container {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
}
.comment-container .form {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  gap: 0.375rem;
  justify-content: flex-start;
}
.comment-container .form .label {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.175rem;
  justify-content: flex-start;
}
.comment-container .form .label:hover > .text {
  color: rgb(134.5, 134.5, 134.5);
}
.comment-container .form .label:hover > .field {
  border-color: rgb(198.5, 198.5, 198.5);
}
.comment-container .form .label:focus-within > .text {
  color: #387aeb;
}
.comment-container .form .label:focus-within > .field {
  border-color: #387aeb;
}
.comment-container .form .label > .text {
  color: #a0a0a0;
  font-size: 0.7rem;
}
.comment-container .form .label > .field {
  background-color: #ffffff;
  border: 0.0625rem solid #e0e0e0;
  border-radius: 0.25rem;
  padding: 0.425rem 0.5rem;
}
.comment-container .form .label > .field[name=content] {
  flex-grow: 1;
  resize: none;
}
.comment-container .form > .writer-wrapper {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  justify-content: flex-start;
}
.comment-container .form > .spring {
  flex-grow: 1;
}
.comment-container .form > .--obj-button {
  margin-top: 1rem;
}
.comment-container > .title {
  font-size: 1.125rem;
  font-weight: 500;
}

.comment-container > .title {
  padding-bottom: 1.15rem;
  border-bottom: 0.0625rem solid #ddd;
}

.comment-container > .list {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
}
.comment-container > .list > .item {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  justify-content: flex-start;
}
.comment-container > .list > .item > .top {
  border-radius: 0.25rem;
  color: #000000;
  font-size: 0.9rem;
  padding: 0.1rem 0.1rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.375rem;
  justify-content: flex-start;
}
.comment-container > .list > .item > .top > .spring {
  flex-grow: 1;
}
.comment-container > .list > .item > .top > .datetime {
  color: #000000;
}
.comment-container > .list > .item .checkbox {
  display: none;
}
.comment-container > .list > .item > .content {
  background-color: #ffffff;
  border-radius: 0.25rem;
  padding: 0.3rem 0.75rem;
  font-size: 0.9rem;
}
.comment-container > .list > .item > .action-container {
  color: #757575;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  justify-content: flex-start;
}
.comment-container > .list > .item > .action-container input {
  display: none;
}
.comment-container > .list > .item > .action-container .action {
  border-bottom: 0.15rem solid transparent;
  cursor: pointer;
  padding-bottom: 0.15rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.comment-container > .list > .item > .action-container .action:has([type=radio]:checked) {
  border-bottom: 0.15rem solid #387aeb;
  color: #387aeb;
  font-weight: 500;
}
.comment-container > .list > .item > .action-container .action:hover {
  border-bottom: 0.15rem solid #bdbdbd;
}
.comment-container > .list > .item > .action-container:has([type=radio][value=reply]:checked) ~ .form.reply,
.comment-container > .list > .item > .action-container:has([type=radio][value=modify]:checked) ~ .form.modify {
  display: flex;
}
.comment-container > .list > .item > .form {
  display: none;
}
.comment-container > .list > .item > .form > .button-container {
  display: grid;
  gap: 0.375rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 1rem;
}

/*# sourceMappingURL=read.css.map */
